:root{

    --main-background:radial-gradient(circle, rgb(236, 239, 245) 0%, rgb(119, 177, 243) 100%);
    --navbar-color:hotpink;
    --navbar-li-color:aqua;
    --navbar-a-hover:skyblue;
    --navbar-a-hover-bg:deeppink;
    --navbar-a-link:skyblue;
    --rankTable--th:hotpink;
    --rankTable--th-txt:black;
    --rankTable--border:hotpink;
    --rankTable--odd:whiteSmoke;
    --rankTable--even:lightgrey;
    --rankTable--Irish:lightgreen;
    --para-bg-color:whitesmoke;
    --para-txt-color:black;
    --videoBox-bg-color:hotpink;
    --videoBox-bg-para-color:whitesmoke;
    --videoBox-txt-para-color:black;
}

body
{
 background:var(--main-background);

}
.navbar{
    font-size: 5vh;
    width:100%;
    }
    
.navbar ul{
    display:block;
    background-color: var(--navbar-color);
    padding: 1vh;
    height: 10vh;
    }
.navbar li{
    display: inline-block;
    color: var(--navbar-li-color);
    font-size: 2.5vh;
}

.navbar a:link {color: var(--navbar-a-link);}


.navbar a:hover {
  color: var(--navbar-a-hover);
  background-color:var(--navbar-a-hover-bg);
}

.navbar a:visited{
    text-decoration: none; 
    background-color: transparent;  
    color: var(--navbar-li-color); 
};

.wrapper{

    margin-left:15%;
    margin-right:15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.para{
    background-color:var(--para-bg-color);
    border-radius: 1vh;
    color:var(--para-txt-color);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3vh;
    padding:.5vh;
    justify-content:left;
    width:99%;
}


.footer{
background-color: var(--navbar-color);
width:100%;
}

.RankTable{
width:100%;
}

.RankTable td{
    border: ridge; 
        border-color:var(--rankTable--border);
        border-width: 3px; 
        text-align: justify; 
        border-radius:0.6em; 
        padding: 5px; 
        color:var(--rankTable--th-txt);
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif; 
      align-content: left;
    height: auto;
}

.RankTable th{
background-color:var(--rankTable--th);
color:var(--rankTable--th-txt);
    
}

.RankTable tr:nth-child(even)
{
    background-color:var(--rankTable--even);  
}
.RankTable tr:nth-child(odd)
{
    background-color:var(--rankTable--odd);
}

.IrishTeam td{

    background-color:var(--rankTable--Irish);   
}

img{width:100%;}

.Video{
display:flex;
flex-direction: column;
flex-flow: row wrap;
align-content: space-evenly;
}
.VideoRow{
display: flex;
flex-direction: row;
flex: 2 1 auto;
}

.VideoBox{
display:flex;
flex: 5 1 300px;
flex-wrap: wrap;
padding:2vh;
background-color:var(--videoBox-bg-color); 
justify-content: center;
}

.VideoBox p{
display:flex;
flex: 5 1 300px;
flex-wrap: wrap;
background-color:var(--videoBox-bg-para-color);
color:var(--videoBox-txt-para-color);   
padding:5vh;
margin-top:5vh;
margin-bottom:5vh;

}

iframe{width: 700px; height:400px;}



@media (max-width:1380px) 
  {
.VideoRow{
    display: flex;
    flex-direction: column;
    flex: 2 1;
    flex-wrap: wrap;
}
.VideoBox p{
display: flex;
    flex-direction: column;
    flex: 2 1 50px;
    flex-wrap: wrap;
    font-size: larger;
}

.VideoBox{
 display: flex;
 align-content: right; 
 align-self: center;
 flex: 2 1 100px; 
 width:90%;
 justify-content: center;
}

iframe{width: 700px; height:300px;
align-items: center;
align-content: center;
align-self: center;}

img{width:100%; height:auto; align-content: space-evenly;}
  }

  .wrapper{
    margin-left:5%;
    margin-right:5%;
  }