body {

  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(236, 239, 245) 0%, rgb(119, 177, 243) 100%);
}


h1 {border-bottom:thin solid; opacity: 1;
  background-color: hotpink;
 
}

.indexcontainer{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column;
  align-content: center;
  min-width: fit-content;
  max-width: fit-content;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar{color:red; font-size:50vh;
height: 5vh;
}

.navbar ul{
    display:block;
    background-color: hotpink;
    padding: 1vh;
    height: 5vh;
    }
.navbar li{
    display: inline-block;
    color: aqua;
    font-size: 2.5vh;
}

.navbar a:link {color: rgb(168, 3, 3);}

.navbar a:hover {
  color: skyblue;
  background-color:deeppink;
}

a:hover
{
  color: skyblue;
  background-color:deeppink;
}

a:link {color: skyblue;}

a:visited {color:skyblue;}

table{ 
  padding: 10px; 
  margin-top:1%; 
  margin-right: 2%; 
  margin-bottom: 1%; 
  width:100%; 
}



.tablelink td
{
 background-color:hotpink; 
 color: rgb(157, 135, 235);
}

td{border: ridge; 
  border-color:hotpink; 
  border-width: 8px; 
  background-color:whitesmoke; 
  text-align: justify; border-radius:0.80em; padding: 5px; 
  color:black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif; 
padding: 1%;
align-content: center;
}

iframe{width: 800px; height:400px;
    
}

img{
  display:block;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  height: auto;
}


.banner{
  display:flex;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
padding-top: 1vh;}

.indexchild{
  display:flexbox;
  flex-wrap:wrap; 
  align-content: center;
  flex-direction: column;
  background-color:whitesmoke;
  border-radius: 25px;
  color:black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 1%;


}

p{
  color:black;
  font-size:large;
  font-family: Arial, Helvetica, sans-serif;
  background-color:whitesmoke;
  flex-wrap: wrap;
  border-radius: 10px;
  padding:0.5%;
 
  
  }

ul{
  background-color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: large;

}

.videoflexbox
{
display:flex;
flex-direction: row;
font-size: large;
background-color: hotpink;
flex-grow:1
flex-shrink:1;
flex:2;
}

.videoflexboxcaption
{
display:flex;
flex-direction: row;
font-size: large;
text-align: left;
background-color: hotpink;
flex-grow:1
flex-shrink:1;
flex:2;
}

.videoflexboxrow
{
display:flex;
flex-direction: row;
align-content:flex-end;
font-size: large;
background-color: hotpink;
flex-grow:1;
margin-left: 5%;
margin-right: 5%;
justify-content:center;
gap: 10px;

}

@media (max-width:1200px) 
  {

  .videoflexboxrow
{
display:flex;
flex-direction: column;
flex-wrap: wrap;
font-size: large;
background-color: hotpink;
justify-content:left;
}

iframe{width: 420px; height:420px;

}